<?xml version="1.0"?>
<robot name="M_shape">
  <!-- Link 1 -->
  <link name="link1">
    <inertial>
      <mass value="0" />
      <origin rpy="0.785398 0 0" /> <!-- Rotate by 45 degrees around X-axis -->
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin rpy="0.785398 0 0" /> <!-- Rotate by 45 degrees around X-axis -->
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.05 0.05 6" />
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0.785398 0 0" /> <!-- Rotate by 45 degrees around X-axis -->
      <geometry>
        <box size="0.05 0.05 6" />
      </geometry>
    </collision>
  </link>

  <!-- Link 2 -->
  <link name="link2">
    <inertial>
      <mass value="0" />
      <origin rpy="2.35619 0 0" /> <!-- Rotate by 135 degrees around X-axis -->
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
    <visual>
      <origin rpy="2.35619 0 0" /> <!-- Rotate by 135 degrees around X-axis -->
      <origin xyz="0 0 0" />
      <geometry>
        <box size="0.05 0.05 6" />
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="2.35619 0 0" /> <!-- Rotate by 135 degrees around X-axis -->
      <geometry>
        <box size="0.05 0.05 6" />
      </geometry>
    </collision>
  </link>

  <!-- Joint to connect the two parts -->
  <joint name="x_joint" type="fixed">
    <parent link="link1" />
    <child link="link2" />
    <origin xyz="0 0 0" />
  </joint>
</robot>